
/* generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.centratura{
  margin-left: 150px;
  margin-right: 150px;
}

/* inizio intestazione */
header{
  min-height: 100vh;
}
/* nav superiore */
#options{
  min-height: 50px;
  background-color: #f4f9fd;
  border-bottom: solid black 1px;
}

#options .centratura{
  position: relative;
}

#navsinistra{
  float: left;
  padding-top:15px;
  width: 50%;

}

.tendina-lingue{
  color: black;
  background-color: transparent;
  padding-right: 5px;
  border: none;
}

.contact {
  color: black;
  font-size: 14px;
  padding-left: 15px;
  text-decoration: none;
  border-left: solid black 1px;
}

#navdestra {
  float:left;
  padding-top:15px;
  width: 50%;
  text-align: right;
}

#searchnav{

}

.botton-intestazione{
  font-size: 15px;
  padding: 8px;
  border: solid #fe775a 1px;
  border-radius: 8px;
  text-decoration: none;
}

/* perchè non funziona .botton-intestazione .bgwhite */
.bgwhite{
  color: #fe775a;
  background-color: white;
}

.bgorange{
  color: white;
  background-color: #fe775a;
}

/* fine nav superiore */

/* inizio nav inferiore (logo menu) */
#logomenu-bar{
  position: relative;
  min-height: 50px;
  background-color: white;
}

#logo{
  float: left;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}

#logo img{
  max-height: 100%;
  max-width: 100%;
}

#menu-bar {
  float: right;
  position:relative;
  top:25px;
  transform: translateY(-50%);
}

#menu-bar ul li{
  display: inline;
  width: 100px;
  padding: 15px 0 15px 15px;

}

/* fine nav inferiore (logo menu) */

/* inizio jumbotron */
#jumbotron{
  background-image: url(../img/img/jumbotron.png);
  background-size:cover;
  border-bottom: solid black 2px;
  min-height: 100vh;

  /* debug */
  background-color: pink;
}

.testojumbotron{
  width: 55%;
}

.testojumbotron h1{
  padding-top: 40px;
  font-family: arial;
  font-weight: 800;
  font-size: 38px;
}

.testojumbotron p{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: arial;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}

.generalbotton{
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
}

.testojumbotron span{
  display: block;
  padding-top:40px;
  font-family: arial;
  font-size: 12px;
  line-height: 30px;
}

/* fine jumbotron */

/* fine intestazione */

/* inizio parte centrale */

/* inizio prima section del main */
main #firstcontainer {
  background-color: #f4f9fd;
}

/* inizio section CUBO */
#cubo{
  text-align: center;
  padding: 40px 350px;
}

#cubo img{
  max-height: 200px;
  max-width: 300px;
}

#cubo h2{
  font-family: arial;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 40px;
}

#cubo p{
  font-family: arial;
  font-size: 15px;
  line-height: 30px;
}

/* fine  section CUBO */

/* inizio  section CRM  */

#CRM{
  background-color: white;
  min-height: 250px;
  padding:30px;
}

#colonna-sinistra-CRM{
  float: left;
  width: 30%;
  text-align: center;

}

#colonna-sinistra-CRM img{
  max-height: 150px;
  max-width: 150px;
  padding-bottom: 20px;
}

#colonna-sinistra-CRM a{

}

#colonna-destra-CRM {
  float:left;
  width: 70%;
  padding-left:20px;
}
#colonna-destra-CRM h3{
  padding-bottom: 20px;

}
#colonna-destra-CRM p{
  padding-bottom: 20px;
  padding-right: 200px;
  font-size: 15px;

}
#colonna-destra-CRM h4{
  display: inline-block;
  padding-bottom: 40px;
}
#colonna-destra-CRM hr{
  display: inline-block;
  background-color: black;
  width: 400px;
  margin-left: 30px;
}
#list-CRM li{
  list-style: none;
  display: inline-block;
  font-size: 15px;
}
/* fine sectio crm */

/* inizio section marketing sales service */

#marketing-sales-service{
  margin-top: 50px;
}

#marketing-sales-service .column{
  background-color: green;
  width: calc((100% - 100px) / 3);
  float: left;
  text-align: center;
  padding: 60px;
}

#marketing{
  margin-right: 50px;
}

#sales{
  margin-right: 50px;
}

#marketing-sales-service img{
  height: 100px;
  width: 100px;
}

#marketing-sales-service h3{
  padding-top: 20px;
}

#marketing-sales-service p{
  padding-top: 20px;
  padding-bottom:20px;
  font-size: 15px;
}

#marketing-sales-service h4{
  padding-top: 20px;
  border-top: solid black 1px;
}

#marketing-sales-service ul{
  list-style: none;
  text-align:left;
  padding-top:20px;
  padding-bottom: 50px;
}



/* .marketing-sales-service{
  float: left;
  text-align: center;

}

.marketing-sales-service img{
  max-height: 100px;
  max-width: 100px;
} */
