
/* generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura{
  padding: 0 100px;
}

/* inizio intestazione */

/* nav superiore */
#options{
  position: relative;
  height: 70px;
  background-color: #f4f9fd;
  border-bottom: solid black 1px;
}

#navsinistra{
  float: left;
  position:absolute;
  top:50%;
  transform: translateY(-50%);

}

.tendina-lingue{
  color: black;
  background-color: transparent;
  padding-right: 5px;
  border: none;
}

.contact {
  color: black;
  font-size: 14px;
  padding-left: 15px;
  text-decoration: none;
  border-left: solid black 1px;
}

#navdestra {
  float: right;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

#searchnav{

}

.botton-intestazione{
  font-size: 15px;
  padding: 8px;
  border: solid #fe775a 1px;
  border-radius: 8px;
  text-decoration: none;
}

/* perchè non funziona .botton-intestazione .white */
.bgwhite{
  color: #fe775a;
  background-color: white;
}

.bgorange{
  color: white;
  background-color: #fe775a;
}

/* fine nav superiore */
#logomenu-bar{
  position: relative;
  /* debug */
  height: 80px;
  background-color: white;
}

#logo{
  float: left;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}

#logo img{
  max-height: 100%;
  max-width: 100%;
}

#menu-bar {
  float: right;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

#menu-bar ul li{
  display: inline;
  width: 100px;
  padding: 15px 0 15px 15px;

}

#jumbotron{

  /* debug */
  height: 400px;
  background-color: pink;
}

#divider{

  /* debug */
  height: 200px;
  background-color: green;
}

/* fine intestazione */
